<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.unaiyecora.cantstopdice" version="1.2">
  <name><![CDATA[Can't Stop Dice]]></name>
  <description>Dice roller to play Can't Stop board game.</description>
  <author href="http://unaiyecora.com" email="unaiyecora@gmail.com">Unai Yécora</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <icon src="img/icon.png"/>
</widget>
